/* Dark mode colors. */
:root {
	--sl-color-accent-low: #2A2440;
	--sl-color-accent: #A594D3;
	--sl-color-accent-high: #C7C0E2;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #ebeef5;
	--sl-color-gray-2: #bfc2ca;
	--sl-color-gray-3: #868a9a;
	--sl-color-gray-4: #535766;
	--sl-color-gray-5: #343745;
	--sl-color-gray-6: #222533;
	--sl-color-black: #16181e;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #C7C0E2;
	--sl-color-accent: #6B5A9E;
	--sl-color-accent-high: #4A3D6B;
	--sl-color-white: #16181e;
	--sl-color-gray-1: #222533;
	--sl-color-gray-2: #343745;
	--sl-color-gray-3: #535766;
	--sl-color-gray-4: #868a9a;
	--sl-color-gray-5: #bfc2ca;
	--sl-color-gray-6: #ebeef5;
	--sl-color-gray-7: #f5f6fa;
	--sl-color-black: #ffffff;
}